﻿@model IEnumerable<ASPMVC.Models.Todo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("searchString")
        <button type="submit">search</button>
        
    </p>
}
@using (Html.BeginForm())
{
    <p>
        Sort by: @Html.TextBox("sortBy")
        <button type="submit">sort</button>
    </p>
}
<table class="table" id="todosTable">
    @if (Model.Count() == 0)
    {
        @Html.Raw("No tasks.")
    }
    else
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beginning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfParticipants)
            </th>
            <th></th>
        </tr>
    }

    @foreach (var item in Model)
    {
        <tr id="todo-@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beginning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfParticipants)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                <a onclick="DeleteTodo(@item.Id)">Delete</a> |
                <a onclick="DuplicateTodo(@item.Id)">Duplicate</a> 
            </td>
        </tr>
    }

</table>
@section Scripts{
    <script>
        function DeleteTodo(id) {
            $.ajax({
                type: "DELETE",
                url: "api/Todo/" + id,
                async: true,
                success: function (data) {
                    console.log("success");
                    $("#todo-" + id).html("");
                },
                error: function (data) {
                    console.log("failure" + data);
                }
            });
        };

        function DuplicateTodo(id) {
            console.log("duplicating" + id);
            $.ajax({
                type: "POST",
                url: "Todoes/DuplicateTodo/" + id,
                async: true,
                success: function (newTodo) {
                    console.log("success");
                    var newHtml = '<tr id="todo-' + newTodo.Id + '"><td>'+newTodo.Name+'</td>';
                    $("#todosTable").append(newHtml);
                },
                error: function (data) {
                    console.log("failure" + data);
                }
            });
        }
    </script>
}
